.message{
    height: "80vh";
    background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position:center;
}
.message::-webkit-scrollbar{
    width: 6px;
}
.message::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.message::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}
.message::-webkit-scrollbar-thumb:hover{
    background: rgb(77, 77, 77);
}
.send:hover{
    color: black;
}
.inputField{
    width:100%;
    font-size: larger;
    border:none;
    outline: none;
}

.chat__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 20px;
}
.chat__name{
    position:absolute;
    top:-15px;
    font-weight: 800;
    width:max-content;
    font-size: xx-small;
}
.chat__timestamp{
    margin-left: 10px;
    font-size:xx-small;
}
.chat__receiver{
    margin-left:auto;
    background-color: #dcf8c6;
}